<%console.log("views/photos/show.ejs is running...");%>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/users">Photographers</a></li>
				<li><a href="/photos">Gallery</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2><a href="/users/<%=user.id%>"><%=user.displayName%>'s</a> photos</h2>
			<ul>
					<img src="<%=photo.url%>"/><br/>
					<h1><%=photo.uploadDate%></h1>
					<a href="/photos/<%=photo.id%>/edit">Edit Details</a>
					<form method="POST" action="/photos/<%=photo.id%>?_method=DELETE">
						<button>Delete</button>
					</form>
			</ul>
	</main>
</body>
</html>